*
!*/
!/.gitignore
!/README.md
!/pyproject.toml
!/src/**/*.py
!/tests/**/*.py
!/examples/**/*.py
!/gui/**/*.py
!/gui/**/*.html
!/experiments/**/*.py
!/experiments/README.md
!/experiments/results/.gitkeep
